@font-face {
  font-family: 'public sans bold';
  src: url('assets/fonts/Public_Sans/static/PublicSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'public sans regular';
  src: url('assets/fonts/Public_Sans/static/PublicSans-Regular.ttf') format('truetype');
}


:root {
  /* BEIGE */
  --beige_500: #98908b;
  --beige_100: #f8f4f0;

  /* GREY */
  --grey_900: #201f24;

  --grey_700: #444446;

  --grey_500: #696868;
  --grey_300: #b3b3b3;
  --grey_100: #f2f2f2;

  /* SECONDARY COLORS */
  --green: #277c78;
  --yellow: #f2cdac;
  --cyan: #82c9d7;
  
  --navy: #626070;
  --red: #c94736;
  --purple: #826db0;

  /* OTHER COLORS */
  --purple: #af81ba;
  --turquoise: #597c7c;
  --brown: #93674f;

  --magenta: #934f6f;
  --blue: #3f82b2;
  --navy_grey: #97a0ac;

  --army_green: #7f9161;
  --gold: #cab361;
  --orange: #be6c49;

  /* WHITE */
  --white: #ffffff;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'public sans bold', sans-serif;
}

h1 {
  font: 32px/1.5 Georgia, serif;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* TYPOGRAPHY */

.text_present_1 {
  font-family: 'public sans bold', sans-serif;

  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
}

.text_present_2 {
  font-family: 'public sans bold', sans-serif;

  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
}

.text_present_3 {
  font-family: 'public sans bold', sans-serif;

  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text_present_4 {
  font-family: 'public sans regular', sans-serif;

  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text_present_4_bold {
  font-family: 'public sans bold', sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text_present_5 {
  font-family: 'public sans regular', sans-serif;

  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text_present_5_bold {
  font-family: 'public sans bold', sans-serif;

  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}
