@font-face {
  font-family: 'public sans bold';
  src: url('assets/fonts/Public_Sans/static/PublicSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'public sans regular';
  src: url('assets/fonts/Public_Sans/static/PublicSans-Regular.ttf') format('truetype');
}


:root {
  /* BEIGE */
  --beige_500: #98908b;
  --beige_100: #f8f4f0;

  /* GREY */
  --grey_900: #201f24;

  --grey_700: #444446;

  --grey_500: #696868;
  --grey_300: #b3b3b3;
  --grey_100: #f2f2f2;

  /* SECONDARY COLORS */
  --green: #277c78;
  --yellow: #f2cdac;
  --cyan: #82c9d7;
  
  --navy: #626070;
  --red: #c94736;
  --dark_purple: #826db0;

  /* OTHER COLORS */
  --purple: #af81ba;
  --turquoise: #597c7c;
  --brown: #93674f;

  --magenta: #934f6f;
  --blue: #3f82b2;
  --navy_grey: #97a0ac;

  --army_green: #7f9161;
  --gold: #cab361;
  --orange: #be6c49;

  /* WHITE */
  --white: #ffffff;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'public sans bold', sans-serif;
}

body {
  background-color: red;
  background-color: var(--beige_100);
}

h1 {
  font: 32px/1.5 Georgia, serif;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.see_details {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: var(--grey_500);

  cursor: pointer;

}

.see_details img {
  margin-left: 12px;
}

.see_text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  width: 100%;
  padding: 32px;
  border-radius: 12px;
  background-color: var(--white);
}

.center_text {
  text-align: center;
}

@keyframes isLoading {
  0% {
    background-position: 0%;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0%;
  }
}

.loading {
  background: transparent;
  
  background-image: linear-gradient(45deg, transparent, #c3c3c3, transparent);
  background-size: 400%;
  animation: isLoading 1s linear infinite;
}

.background_modal {
  width: 100%;
  height: 100%;

  position: fixed;
  z-index: 999;

  padding: 20px;
  background-color: rgba(0, 0, 0, .2);
}

.header_modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;

  grid-gap: 25px;
}

.header_modal span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  min-width: 25px;
  height: 25px;
  border: 2px solid var(--grey_500);
  border-radius: 50%;
  color: var(--grey_500);

  cursor: pointer;
}

.header_modal strong {
  color: var(--grey_900);
}

/* TYPOGRAPHY */

.text_present_1 {
  font-family: 'public sans bold', sans-serif;

  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
}

.text_present_2 {
  font-family: 'public sans bold', sans-serif;

  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
}

.text_present_3 {
  font-family: 'public sans bold', sans-serif;

  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text_present_4 {
  font-family: 'public sans regular', sans-serif;

  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text_present_4_bold {
  font-family: 'public sans bold', sans-serif;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text_present_5 {
  font-family: 'public sans regular', sans-serif;

  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}

.text_present_5_bold {
  font-family: 'public sans bold', sans-serif;

  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0px;
}

@media (max-width: 450px) {
  .card {
    padding: 24px 20px;
  }
}